models/KNN_model.pkl filter=lfs diff=lfs merge=lfs -text
models/RFC_models.pkl filter=lfs diff=lfs merge=lfs -text
models/RFC_model.pkl filter=lfs diff=lfs merge=lfs -text
models/2_KNN_model.pkl filter=lfs diff=lfs merge=lfs -text
models/2_KNN_models.pkl filter=lfs diff=lfs merge=lfs -text
